h5{
    font-weight: 20%;
    color: white;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.divPer {
    background-color: #0f0f0f;
}

p {
    color: #b4b4b4;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px ;
}

.titulo{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #000000;
    background-color: aliceblue;
}
.img{
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
}

.divFin{
    margin-left: 10%; 
    margin-right: 10%;
    color: white;
    background-color: #000000a1;
 
   
}

.divFinTex{
    background-color: #19191900;
}