*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color:#fff;
}
.navbar{
    background-color: #101112;
}
.imgLogo{
    width: 70%;
}
ul li{
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.linkPage .link{
    text-decoration: none;
    padding-left: 2rem;
}

.header__logo img {
    width: 10rem;
    height: 4rem;
}

.color{
    color: aliceblue;
}

.header{
    text-align: center;
}

.footer {
   background-color: var(--main-bg-color);
   color: var(--title-color);
}

.footer .footer__links a{
    transition: color 200ms ease-in-out ;
}

.footer .footer__links a:hover {
    color: var(--highlight-color);
}


.footer .footer__social a:not(:last-child){
    display: inline-block;
    height: 1.25rem;
    margin-right: 1rem;
    text-align: center;
}

.footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25;
}

@media (min-width: 64rem){
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
        "logo col1 col2 cta"
        "social col1 col2 copy";
        justify-items: start;
    }

    .footer .footer__logo {
        grid-area: logo;
        justify-self: center;
    }

    .footer .footer__social {
        grid-area: social;
        align-self: end;
        justify-self: center;
    }

    .footer .footer__links {
        font-size: 1.25rem;
        align-self: center;
    }
    .footer .footer__links.col1 {
        grid-area: col1;
    }

    .footer .footer__links.col2 {
        grid-area: col2;
    }

    .footer .footer__cta {
        grid-area: cta;
        text-align: right;
        justify-self: end;
        align-self: center;
    }

    .footer .footer__copyright {
        font-size: 0.9375rem;
        grid-area: copy;
        align-self: end;
        justify-self: end;
    }
}
